{% extends 'base.html' %}

{% block menu %}
    <a class="view" href="{{ url_for('show_campaigns') }}">Show campaigns</a>
    <a class="manager" href="{{ url_for('create_user') }}">Create new user</a>
{% endblock %}

{% block container %}
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>
                    <p><a href="{{ url_for('delete_user', user_id=user.id) }}">Delete</a></p>
                    <p><a href="{{ url_for('update_user', user_id=user.id) }}">Edit</a></p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}